<div class="row">
<div class="small-6 columns">
<h1><small>Editing Project Issue</small></h1>

<%= render 'form' %>

<%= link_to 'Show', @project_issue %> |
<%= link_to 'Back', project_issues_path %>
</div>
</div>
