<% breadcrumb :project_issues_edit, @edit_project_issue_path %>
<div class="row">
<div class="medium-4 columns">
<h1><small><i class="fi-widget"></i> Editing Project Issue</small></h1>

<%= render 'form', :project_issue => @project_issue %>

<%= link_to 'Show', @project_issue %> |
<%= link_to 'Back', project_issues_path %>
</div>
</div>
