<% breadcrumb :home %>
<div class="row">
<div class="large-6 columns"> 
<h1>Home</h1>
<label>Input Label <input type="text" placeholder="large-12.columns" /> </label> 
<br />
<div class="button-bar"> <ul class="button-group"> <li><a href="#" class="small button">Button 1</a></li> <li><a href="#" class="small button">Button 2</a></li> <li><a href="#" class="small button">Button 3</a></li> </ul> <ul class="button-group"> <li><a href="#" class="small button">Button 1</a></li> <li><a href="#" class="small button">Button 2</a></li> <li><a href="#" class="small button">Button 3</a></li> </ul> </div>
<br />
</div> </div>
<p></p>
<p></p>