<% breadcrumb :home %>
<div id="myModal" class="reveal-modal" data-reveal> 
<h2>Awesome. I have it.</h2> 
<p class="lead">Your couch. It is mine.</p> 
<p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p> 
<a class="close-reveal-modal">&#215;</a> 
</div>
<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
<br />
<br />
<br />
<div id="homeTop" class="row">
     <div class="large-4 columns"> <img src="/images/overflow.jpg" alt="Overflow: Hidden No More" /></div>
     <div class="large-4 columns"> <img src="/images/captions.jpg" alt="HTML Captions" /></div>
     <div class="large-4 columns"> <img src="/images/features.jpg" alt="and more features" /></div>
</div>
<br />
<br />