<% breadcrumb :home %>
<div class="row">
	<div class="orbit-container">
		<ul data-orbit=''>
  			<li data-orbit-slide="1" style="background-color:white; text-align:center;">
				<img class="orbit_img" src="/images/features.jpg" alt="slide 1" />
  			</li>
  			<li data-orbit-slide="2" style="background-color:white; text-align:center;">
    			<img class="orbit_img" src="/images/captions.jpg" alt="slide 2" />
  			</li>
  			<li data-orbit-slide="3" style="background-color:white; text-align:center;">
    			<img class="orbit_img" src="/images/overflow.jpg" alt="slide 3" />
  			</li>
		</ul>
	</div>
</div>
<br />
<div id="homeTop" class="row">
     <div class="medium-4 columns">
     <img src="/images/ruby_rails_slide.jpg" alt="Overflow: Hidden No More" /></div>
     <div class="medium-4 columns"> <img src="/images/zurb-foundation.jpg" alt="HTML Captions" /></div>
     <div class="medium-4 columns"> <img src="/images/geek-binary.jpg" alt="and more features" /></div>
</div>
<br />
<br />
<div class="row">
	<div class="small-6 columns">
		<div id="myModal" class="reveal-modal" data-reveal>
			<h2>Awesome. I have it.</h2>
			<p class="lead">Your couch. It is mine.</p>
			<p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
			<a class="close-reveal-modal">&#215;</a>
		</div>
<a href="#" data-reveal-id="myModal"><h5>Click Me For A Modal</h5></a><br />
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</div>
<div class="small-6 columns"><div id="myModal" class="reveal-modal" data-reveal>
<h2>Awesome. I have it.</h2>
<p class="lead">Your couch. It is mine.</p>
<p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
<a class="close-reveal-modal">&#215;</a>
</div>
<a href="#" data-reveal-id="myModal"><h5>Click Me For A Modal</h5></a><br />
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
</div>
<br />
<br />
<br />
