<% breadcrumb :project_edit, @edit_project_path %>
<div class="row">
<div class="medium-6 columns">
<h1><small><i class="fi-widget"></i> Editing project</small></h1>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>
</div>
