<% breadcrumb :project_new, @new_project_path %>
<div class="row">
<div class="medium-6 columns">
<h1><small>Add a New project</small></h1>

<%= render 'form' %>

<%= link_to 'Back', projects_path %>
</div>
</div>
