/** Changes background color, height and margin of the border **/
.fixed.expanded:not(.top-bar) .top-bar-section {
    margin-top: 0px;
    z-index: 98;
}

#footer {
color: #fff;
background-color: #00204b;
position: fixed;
bottom: 0;
width: 100%;
padding-left: 20px;
padding-top: 15px;
border-style:solid;
border-color:#000f23;
border-top: 1px;
height: 40px;
}