/** @import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700"); **/

/** Changes background color, height and margin of the border
.fixed.expanded:not(.top-bar) .top-bar-section {
    margin-top: 0px;
    z-index: 98;
}
**/

.orbit_img {
margin: 0 auto;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
  width: 50% !important;
  bottom: 5% !important;
}

.topbar {width: 100%;}
.row {min-width:100% !important;}

#footer {
color: #fff;
background-color: #00204b;
position: fixed;
bottom: 0;
float: left;
font-size: rem-calc(12);
width: 100%;
padding-left: 20px;
padding-bottom: 5px;
padding-top: 12px;
border-style:solid;
border-color:#000f23;
border-top: 1px;
height: 30px;
}

#homeTop {
	background-color: #eee;
	height: 100%;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top:    1px solid  #ddd;
	border-bottom: 1px solid #ddd;
}
