<%# add navigation links to this file %>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Rails :: Foundation :: Project</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    <li class="divider"></li>
      <li><a href="/projects">Projects</a></li>
      <li class="divider"></li>
      <li><a href="/project_issues">Projects Issues</a></li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Right Button with Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>

        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    <li class="divider"></li>
      <li><a href="/">Home</a></li>
        <li class="divider"></li>
      <li><a href="/users/sign_in">Sign In</a></li>
    <li class="divider"></li>
    </ul>
  </section>
